* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
meter,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a,
a:active {
  outline: 0;
  color: inherit;
}
a:hover {
  outline: 0;
}
a:visited {
  color: inherit;
}
a:focus {
  outline: 1px dashed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5,
h6 {
  font-size: 1em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 600;
}
blockquote {
  margin: 0 1em;
}
dfn {
  font-style: italic;
}
mark {
  background: yellow;
  color: inherit;
}
p,
pre {
  margin: 0 0 .5em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0 0 0 1em;
}
menu,
ol,
ul {
  padding: 0 0 0 1em;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid;
  margin: 0;
  padding: .5em;
}
legend {
  font-size: 1.2em;
  border: 0;
  padding: 0 .2em;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
  *height: 13px;
  *width: 13px;
  vertical-align: sub;
  *vertical-align: middle;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #595959;
  font-family: Candara;
}
a {
  color: #595959;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
html,
body {
  height: 100%;
}
body {
  color: #777;
  font-family: 'Segoe UI';
}
body > header {
  padding: 1rem;
  background: #333;
  color: #fff;
  text-align: center;
}
body > header h1,
body > header a {
  color: #fff;
}
body > header a:focus,
body > header a:hover {
  text-decoration: none;
  outline: none;
}
body > header a[rel=author] img,
body > header img[rel=author] {
  margin: 2em;
  border-radius: 50%;
}
body > header ul {
  padding: 0;
  font-size: 1rem;
}
body > header ul li {
  list-style: none;
  display: inline-block;
  margin: .5rem 0 0 .5rem;
}
body > header a.codepen {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAACIElEQVR4Ae2WA7BjMQAAc7Zt2zYHZ9vG4Gzbtm3btm3btrsfmZfJpX3vc/y31naLQIRgAxEJH3yyGMwDftKHsCLoUJYnWFwkT3C06fxlDJGC3vZaO4c7lAxK21PKMRGA0gziNwAuZhMjcG3zfV4ohRQTgpxcRPKMKoFok/cpoTeEU52wmgQBbDOEEr3zHU0C0GYnNDp3kcKTrrzR5ig0Or/SytRF5R8Ab1Sbgqq8BOAwaYxHwjEYyTnzRTGR/GOC/sclNstQ8I32hBIK0nMUyT47IcAdihptsJV7SA7JTkLTme/gLLzFB9WZVLW9p6EQRGEaLtWZQbWd47e9cAlJ2InEpdoSqWeV5qH+KL8ZQFi+OwiFN7RHQVvjedFYj8UrcgtvcBaSnxsouPr/hEVbvqBgBbGdhasYzl8AfrGQbwD8YQjhhDckZ7f6469F8oJKDkLFObIJQVoOI7lIDlrwSf/jU4nnKJyEv+hrTfWEooPsxAXmoCQWS/wWfiW30FCddoOyqZ0wKi794+oQirkAtLIdlNBPeHjwhfrQvQkjNOiuJgdPg/IFZYWB+RQ4TSYHod62kbjCHqrxCslPuhHaEBpvrKYtJ4jLKiyOk14XGm2nSCf8BzV5jeQ7nQhtCbW2vwwJ0D6CeGoswGFmATBKtd2niAg41OUtnlhEdBE4SMAGdOA9tUTQoCHvsdhLEhF0SMRm4CddCCWCC7LY7hFC8AJPGR4jGo1wpwAAAABJRU5ErkJggg==);
}
body > header a.github {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAAB7ElEQVR4Ae3VA4xtVxQG4FXbtm3bUlzbCmrbRlAFtW3EqG082+YI3+PJzp19cWaih34R/pVtxP/mMxZzkEd86lcjDfOjD91t9+gZq3vcGOQGu9Vy0R2WdJNJ6hnhYotEOdb0lTLesWw0ZnuDlPWrdaM+6xiqO36pO0pL+w4wyN9qa/W5gYC366yl+xUuiLCvD3SCTsONATR70oYR7lO4sFZzG2gCKE6brRxpS0vFTJaznWOtMzc5TWF4jWl7TrJKNOAAyc2Rs7wmyX7RgAskAyLnBMkYq0YD1jdFsnNe8JLk/CjBtZLb8/g3hU7LRwm2kbyTx6MU+pV+i5oUvolKFtep8F2UZLzCwLzBVoWJUYp1JH3y+G/J+lGCwyUf5fE7kqOjBFdIHszjuyVfNH48rWSA5Oy84DQJl0cDXpWwZ16wlumSZpdaPAp57TNIhlgqch4G93pNG+jlAttatMv3cJyHTFHp4lr/3GT8ZmNbG63wSaqwhL/k+lkiknxjfG9Re5gMOCSScIrc2fV2biC4IsJ2HnCfUypX0ra6+t5iUZtNDEKTbWvkq6j0s1UilzdptJvtYHd75w2WbC6xqUEKE+o0+ItVoxyruNfUug2OcbVlojus4TFNBmQ/d5OJbrF89IR1rJP/JV3W7X8zACAH2V77u8QeAAAAAElFTkSuQmCC);
}
body > header a.googleplus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAACKklEQVR4Ae3XA4wkARCF4dmzbdtWdDaCs23btm3btm3btq0V6v4knaSyGtx0bzCVfMuqnteSzY3lKU95Svz9M6EXZmArLuBKGNYgo5XBluAlVmIVvkGUv1iKheiIqFaFG4sA7EUC9feoGA5R9iCKlbu0GQRfkDCU/3thNUQZblW4vPCGYFY4fQnhCzH8QDwrAk6DGLrY6d0AUSpYEfAcxDDSTm9tiNLZ7HBe8IYYttjpzwdR2lmxBe9DDL/CO66E/0XELl5lb7cFu+SI4QmiWhEwZ7Dd/AEZw+gtBkEgqjmw7Ch4ixf/G7IzRHmA5MF6YuIg/NDYpsv+Fvd3x5asg+8Qgw+2ogUG4T68UdpGWRlQLzAdOmAeThpEGWSjrAto/wNKQpRqDh5zmhjeKi/cFbABRDmBqPa2mB1u3eWpEQRRjiBpODOplHQQ+Af7e0oz7tXaE6SLiJMkEwbgIK7jJd4D9kOaEpDh2OiJi/DDTnRDEURVfa3hC1HuIoopAdXN/6H6sNx2+ovhFUSpZ2fGtWOOoUR4CYE3sjs4lxQ3IYYpZl3j+kMMB5ycLQIxrDQr4CmIYZILz5GfIehm1oPqb4hhlwvzHyDIb9YWPBbsBSilE7NZITiMSGYFbANRbiOJA3ORsB8PkNDs95HpEOUjBiNRGDMFsB2Xkc2sbMG3RkPchiiBeIqDWIXDeIRbqAEvmyqrglZBf8zDHpzCaoxEC5RAZFvElKc85al/bx0Mrfj62dIAAAAASUVORK5CYII=);
}
body > header a.linkedin {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAABE0lEQVR4Ae2VA2hGURiG72zlP2MKs83cjLTccrOt7Lbs2YwzsxaGNNtefKfTN/M7//w+6bzd77mSws9/IIA9WtD/QfqQ81jYDl5UD4XD4MX6U4WraMOpPGEadKDAAt1yhIvQEo27HGEjNdo4lCE8gbloYmVdw1bYQwvhmJb52Ox+5nN4iPP3CE8RKkgHACzRehK7KIcvtC+xRyJ23iY8oiYQADBL6x54QAEBW8zzhCooD4jkCR+jix2e0AUNGEcFtKhp5gj16GHKoK6KI3Sk4QbqSjnCBBqeoC6DI0yn4Rm+kIap+xf+ZOE5kgWV4pcaL6ih4Q3aplP6j/4ThUPgxeqhsACcLEKHhIQLQj9IMIyVv5sLUC+1kJZQ6CsAAAAASUVORK5CYII=);
}
body > header a.rss {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAAB0klEQVR4Ae2VA9AcQRQG/1Ns27ZTiG3btl2InUJs2yzEtm3bNjuaejO/7m4vRr9iv91vMfL7z78AZk1mPD1pTEky4fwegVfQ3Gc65Qn7nQKFl6ygyHcLFNaS+bsFCrNIZD1wGvu5yQeC5hU1LQVKOUlAPZbyAkEYgN1yoFRoyrCBgCwjvPVAXTaKcRj/HCGqt4EFyUpsHPi3durwGJONuKyM8ju204VU/jqpOYvJGF+mzQGKYZNeZNZg0ty3ebieLMboL0Dzjty+BMJbmkg/DHvRHMTuKfAyQTMal7oiLjfQ1PQU6CQOOejIFt7jn/nyN7PzTuxFQno7D1OzB//0kN5YNO28n9hOuvEak0qqE4tn4u7isrJS0nEAjJsjKN8TTSFrSy8at9H0UzYcj8SNdB9ooyqTmU9bQilTDs0L4io7R9wVbMEH2lkEihNEV3Y6ml7KVUGTJfjA5pjMVjYS1/RkVi6CMWA9gw9ci8lz2Xdaokmk3CoxM4MPPIp/Isr60DRXbriY9e7OFJPzRueA2CHKdBVzIvjAlLxEU83oLBA7S5naYh65mzZ5OAfAExpjM/wwUGyQ3V0T1t3EtpGUjLjwb5NQSFVOGedCUqH8fmf+8xGc88xdL/z3fwAAAABJRU5ErkJggg==);
}
body > header a.stackoverflow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAABmUlEQVR4Ae3UA5AlSQAA0bNCZ9u2bSFwtm2tbdu2bdu2bZvDNzb7r5HNUpZwykkOP84+uLovrHTtwdOVABMPWis9IRw0PHht/B3w7YGKSrst8a8V2OfBA9H9g+3ejP8/zwywzIWh6i6yA0QpEB++yTbQz2mhKu+3HNDBebHhd0SDkqF3+mLDANNdHz+mEO2toKJL3JX4d4ZagE2ed5oBYJubggkri9bFA4mhb4WBCH+4yHIw3ZlBOrob0Ntj8TGPWwto4nH77fVFkPZdp6toAAM9Ext3pQmAcX5yX/DpuEd7UQCGe8nZmoHtbg11jm/XUiSAsd70lzBvBNXc6ZJUoZs0Fg5gsteDt2ssFmrme3c4NT7mWnXsB+GBT0XnCAPAZj3l87RzXKmavRrnTvKgD2OvmxJbM8p+6QkzViVfuSJV7qxRB/yWHD7LE/7XzUYAwJrUuQMIU3CLrzU2TzToGFyYBS7yjvLeC0GosLlZXp+EIqwja347KoSXuzPL64IQhNkTTLjO3FxdW3MrDMbhFWY3EdlO0EkOJjH7CTYEHhIg1gAAAABJRU5ErkJggg==);
}
body > header a.twitter {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAABX0lEQVR4Ae3PI8BYYRjH0f/sMtu2bbtMbbaNNivNLLOlMlt1tm1Lv6XP73MxtHt6OfrvIhEK0ZelbGAU1RWLTCSTCxXkgRRM4AtxVpGJZDRiFWvkQh4+0kQmtpLYLW4BXykpF7oDn2gqJ7rh9ormNKS9kmIlAJ8ZTnIlQjKe43aLj1wki5JiJgAAJxMnKIbtFrnlQnPifGEuZRWLLlheUFhupOcrCZ2lL6VJJdEZy0nZ6IPLd65wCstOWehEBSYT1lJZ2AA84wfhTJKF8UB4bWQhG28I6ysZZGMAYR2SN/rznTB6yw8VWMRbgrlPanmjDDd4QVDD5Y/dBHWd9PJHVs4TxDeqKhiysZpf+BmjMCjDUC5gW04yhUEJdmCbpeBIR2UW8R3LV0YpCOowmz3c4idg20dxBUUupvAcyy9O0FFhkZYeLOUQ9/kFAPzkMUcZRh79HdJTjprkI6USiUR+AxKiJTRpJyPvAAAAAElFTkSuQmCC);
}
body > header a.youtube {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAABJUlEQVR4Ae3VM2P1AABG4c+2bbO27b3cqrk/p1u51eZS25zqLrV5akZXdZ93P0lukpsLx8G5cwh3lTs84iUf+M4/jLHCEXc8cMQKY/7xnY+84jF3uKoU/Esmo6hjnFz0pYJBzKOJRULFgrcYRFPD3BcGw9FGhDAYgzYShcFctFEsDFYgropIFlDSJAy2Iy6bC3wlnmXk9AiDgzLBtf0nFWljwuC0QnBt5hQibpmL+4MLCsGtuTOOmKuaBC/iRydIBNW+ZB/qQfqS1bsp9pQiZ0ydx8aEPJT0qP5gz6CKpkN49XT+56Dzvy9d/8GuLoBZDT8BIVIfqU9E0406xsgRfKQEu8RNHvCcd3zlD4ZYYI8b7jhgiRF/+cYHXvKI21y5cO7csbQCLhbQ1hHYV6IAAAAASUVORK5CYII=);
}
body > footer {
  padding: .5em 1em;
  text-align: right;
  background: #eee;
}
body:not(.home) > header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20em;
}
body:not(.home) > header h1 {
  position: absolute;
  top: 7em;
  right: 1em;
  left: 1em;
}
body:not(.home) > header ul {
  margin: 3em 2.5em 0 2em;
}
body:not(.home) > main {
  padding: 2em;
}
body:not(.home) > main,
body:not(.home) > footer {
  margin-left: 20em;
}
body.home > header {
  font-size: 2em;
  position: relative;
  width: auto;
  min-height: 11em;
  max-height: 13em;
  height: 50vh;
}
body.home > header ul {
  position: absolute;
  right: 1em;
  bottom: 1em;
  margin: 0;
  max-width: calc(50% - 6em);
}
body.home > footer {
  background: none;
}
body.home ol.posts {
  margin: 2em auto;
  max-width: 50em;
}
body.home ol.posts li {
  list-style: none;
}
article.post {
  position: relative;
}
article.post p:first-of-type {
  margin-top: 1em;
}
article.post footer {
  position: relative;
  border-top: 2px solid #888;
  margin-top: 3em;
  padding-top: .5em;
  min-height: 6em;
}
article.post footer:before {
  position: absolute;
  display: block;
  content: "";
  border-radius: 50%;
  top: -2em;
  left: calc(50% - 32px);
  width: 60px;
  height: 60px;
  border: solid 3px #fff;
  box-shadow: 0 0 0 1px #888;
  background: #fff url("http://s.gravatar.com/avatar/9e31be04c557b266578754e7e499c782?s=60") center center no-repeat;
}
article.post footer a[rel=author] {
  vertical-align: top;
  color: inherit;
  font-size: 1.2em;
  font-family: Candara;
}
article.post footer .share {
  text-align: center;
  right: 0;
  display: inline-block;
  float: right;
}
article.post footer .share h3 {
  color: inherit;
}
article.post footer .share ul {
  list-style: none;
  padding: 0;
}
article.post footer .share ul li {
  display: inline-block;
  margin: .2em;
}
article.post footer .share a.twitter {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAaCAQAAACTUP2KAAABaklEQVR4AZ3UAwweQRCG4d+1bdu2FJRRLb1FUNuWooa1bdsMatu2vZVOc5ov3J15Tgi4LVqxjKs8YTMDSfhnLURlgn8bOtuOZ2I7SpNLlCAHo7nNxL8thVAMEYG4nEMZ8plvKK6T7G9TLxSK4QIxBWWZ4zRiFG1+Ny3+s7ieDCYgxgeB+IJiMaHfbf3+Lb8AA1EcJWY9kb9tpXQbp+lOin9EaxG4Stx/RyLMPcP2R5bRlVpkoJ5I7Atoi1K8ERo/iMRyLTCWXvTjC8pTpmqJ6Sgf6acl2vsiymqJKBc8A88I629nZfF2yjfTWBTjlieipplIRh5G8dIlcNTqY0rPB5TrNLD+Iie4BjYRtCZCzHMF3Cd1QCpCtHa8qd+o5fSPDFOa0yLwmWbOQEfui8A76sijQbJThz6cRYk5TzlpvCILeIuyzRv6EbW/gKqs4aswfo7hZAy4KbLSiEHM4SCPeMNFdrOAoRR0mvsOazTLmkapymwAAAAASUVORK5CYII=);
}
article.post footer .share a.facebook {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAAwElEQVR4AdXUtWECYBAF4Iu7e5UBMkpmiL8lYlZSsgYlPgATpKbE3d3d9SHhrvvl+00Ev0giP2ZmoBCEkCfSLYhTgH/GgBd/MMOFxOiAFfc4lXogPhpgxG697xiAD1ciDPAhwgG39W5HeIYKmmJmRwGu64BxvGPcqnbfQIIDjpBfNGBLegRuWOCeBZQsYKIALCMy3ikcsse4zwK7LLDNApsssMYCKyywRAIiPJDtBvhHANIddS7BJ5JDA+1/YgJvBZ25jeBmKrAWAAAAAElFTkSuQmCC);
}
article.post footer .share a.googleplus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAQAAADnA9SiAAAB20lEQVR4AY2TA8wgMRCF92zbtoXoorNt4Tvbtm3btm3btm2j96eZX+uZoHnv9eu02TVCF6npxATWcoKzIXo56QzvIjWzeMwSFvEOpfsH8wO0NkT0s30gv9lFXL2OQG9B7CKC4aeojeID8QwpwjBPEEP9bM/CVxQzQmkx+aYBn4njDRipo51M6mKZobQ34JAODjepFQTQ0RvwSQc3mS8mgDbegMs6+DX0bYni/wrz7IfV2kMfXwEZ5cVfkz6EmgfFPyrY5J/xzCw1kxnukkSUyGzlNw0lYJnMKlbivUb8ZAON6cXVgFUxMT0AUiSnBdM4yAGZZqAYXgBzUVgAlWzurlu7srYDVBXAUfP7o6xtB0jEX7EPkCiUkxTd2pO1y7+h+wGp/T9iarqzkws84kVAmxFuAKLSgRP8YgsdKEAErTXkhyBuE8EVQHauo7hFDlMsHw8EUc/khLw7sbmP4gfZbC4Vn3MaMNlwLjrryD4HN5d2l7sB9unIBEf/OYouLgD5A3Y4+k9QFHAD7NKALySzdVOjOEh4N0BDeenrJLR4YdjEXeIb7sVoQbymH/FC6DlZw3myGF5FWGpySSB/uc9uFrOHW1ylKmEl5ANSgu5MYwtHWMJgGlGEcH52/gcGsnJZqURDowAAAABJRU5ErkJggg==);
}
article.post footer .related {
  background: #eee;
  margin: 4em -2em -2em;
  padding: 1em 2em;
  text-align: center;
  column-width: 15em;
  column-count: 2;
}
article.post footer .related span {
  column-span: all;
  display: block;
}
article.post footer .related h1 {
  margin: .5em auto;
  max-width: 17em;
}
article.post footer .related h1:first-of-type {
  column-span: all;
}
a.twitter,
a.github,
a.linkedin,
a.rss,
a.googleplus,
a.codepen,
a.stackoverflow,
a.facebook,
a.youtube {
  display: block;
  width: 2.5em;
  height: 2.5em;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: 100%;
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
@media only screen and (min-width: 800px) {
  body > header {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}