@{
    ViewData["Title"] = "Post";
    ViewData["page-class"] = "post";
}

<article class="post">
    <h1><a href="~/post/article">Build 2015 - Build Tour São Paulo</a></h1>
    <time>10 Abril 2015</time> em <a href="#">Eventos</a>, <a href="#">Build</a>, <a href="#">Build Tour</a>
    <p>Est clita elitr lorem mazim ut esse nulla sit eirmod tempor aliquam nonummy dolores justo liber et aliquyam accumsan dolor no est duo sanctus sadipscing ut nulla nibh vero sit invidunt invidunt clita elitr eos takimata nam quod vel rebum lorem justo ipsum gubergren eros diam vero autem clita at</p>
    <p>Est clita elitr lorem mazim ut esse nulla sit eirmod tempor aliquam nonummy dolores justo liber et aliquyam accumsan dolor no est duo sanctus sadipscing ut nulla nibh vero sit invidunt invidunt clita elitr eos takimata nam quod vel rebum lorem justo ipsum gubergren eros diam vero autem clita at</p>
    <p>Est clita elitr lorem mazim ut esse nulla sit eirmod tempor aliquam nonummy dolores justo liber et aliquyam accumsan dolor no est duo sanctus sadipscing ut nulla nibh vero sit invidunt invidunt clita elitr eos takimata nam quod vel rebum lorem justo ipsum gubergren eros diam vero autem clita at</p>
    <p>Est clita elitr lorem mazim ut esse nulla sit eirmod tempor aliquam nonummy dolores justo liber et aliquyam accumsan dolor no est duo sanctus sadipscing ut nulla nibh vero sit invidunt invidunt clita elitr eos takimata nam quod vel rebum lorem justo ipsum gubergren eros diam vero autem clita at</p>
    <p>Est clita elitr lorem mazim ut esse nulla sit eirmod tempor aliquam nonummy dolores justo liber et aliquyam accumsan dolor no est duo sanctus sadipscing ut nulla nibh vero sit invidunt invidunt clita elitr eos takimata nam quod vel rebum lorem justo ipsum gubergren eros diam vero autem clita at</p>

    <footer>
        <a href="https://linkedin.com/in/kelps" target="_blank" rel="author">Kelps Leite de Sousa</a>
        <aside class="share">
            <h3>compartilhe</h3>
            <ul>
                <li><a href="#" target="_blank" title="Twitter" class="twitter">Twitter</a></li>
                <li><a href="#" target="_blank" title="Facebook" class="facebook">Facebook</a></li>
                <li><a href="#" target="_blank" title="Google+" class="googleplus">Google+</a></li>
            </ul>
        </aside>
        <aside class="related">
            <span>-veja também-</span>
            <h1><a href="~/post/article">Navegação localhost com Project Spartan no Windows 10</a></h1>
            <h1><a href="~/post/article">Build 2015 - Build Tour São Paulo</a></h1>
            <h1><a href="~/post/article">Navegação localhost com Project Spartan no Windows 10</a></h1>
        </aside>
    </footer>
</article>
